*{
    box-sizing: border-box;
}

.body{
    text-align: center;
}
.goatse{
    margin-top: 300px;
    transition: transform 4s cubic-bezier(0.12, 0.47, 1, 1.07); 
    
}
.goatse:hover{
transform: scale(2);
}
.body{
    background-color: black;
}    